
<br \><br \>
<div id="page_wrapper">
 	<div class ="well">
 		<p><h3>Send a message to <% if @user.name? %>
 		                          <%= @user.name %>
 		                           <% else %>
 		                            Inkognito
 		                            <% end %>
 	  </h3></p>
 	  <div class="thecard">
      <p><%= form_tag({controller: "messages", action: "create"}, method: :post) do %></p>
      <%= label_tag :subject %>
      <p><%= text_field_tag :subject %></p>
      <%= label :body, "Message text" %>
      <p><%= text_area_tag :body%></p>
       <%= hidden_field_tag(:user, "#{@user.id}") %>
      <%= submit_tag 'Send message', class: "btn btn-primary" %>
    <% end %>
    </div>
  </div>
</div>