<%= div_for(todo_item) do %>
  <% if todo_item.completed? %>
    <li id="todo_item_<%= todo_item.id %>">
       <table class="highlight">
        <tbody>
          <tr>
          
           <td>     </span><strike><%= todo_item.deadline %><i id="body", style="padding-left: 10%;"><%= todo_item.content %></i></strike></td>
              
             <td> 
              <% if @post.user == current_user %>
              <%= link_to edit_post_todo_item_path(@post, todo_item), id: "edit_todo_item", remote: true do %>
        <i class="material-icons right">edit</i> 
      <% end %>
             <%= link_to complete_post_todo_item_path(@post, todo_item.id),id: "complete_todo_item", remote: true, method: :patch do %>
        <i class="material-icons right">done</i> 
      <% end %>
        <%= link_to post_todo_item_path(@post, todo_item.id), id: "delete_todo_item", method: :delete, remote: true do %>
        <i class="material-icons right" style="padding-left: 0%;">delete</i> 
      <% end %>
      <% else %>

      <% end %>
      </td>
          </tr>
        </tbody>
      </table>
    </li>
    <% else %>
     <li id="todo_item_<%= todo_item.id %>"> 
       <table class="highlight">
        <tbody>
          <tr>
            <td>  </span>
             <%= todo_item.deadline %><i id="body", style="padding-left: 10%;"><%= todo_item.content %></i></td>
              
             <td> 
              <% if @post.user == current_user %>
              <%= link_to edit_post_todo_item_path(@post, todo_item), id: "edit_todo_item", remote: true do %>
        <i class="material-icons right">edit</i> 
      <% end %>
             <%= link_to complete_post_todo_item_path(@post, todo_item.id), id: "complete_todo_item", remote: true, method: :patch do %>
        <i class="material-icons right">done</i> 
      <% end %>
        <%= link_to post_todo_item_path(@post, todo_item.id), id: "delete_todo_item", method: :delete, remote: true do %>
        <i class="material-icons right" style="padding-left: 0%;">delete</i> 
      <% end %>
      <% else %>
     <% end %>

      </td>
          </tr>
        </tbody>
      </table>
    </li>
    <% end %>

  <% end %>



