<div id="comment_<%= comment.id %>">
<%= div_for(comment) do %>
	<div class="card">
		<div class="pull-left">
			<p class="body"><%= comment.body %></p>
			 <% if comment.image.file? %>Image
  <%=link_to image_tag(comment.image.url(:small)), comment.image.url(:original), :popup=>['original_image', 'height=700,width=900'] %>
<% else %>
  
<% end %>

     <% if comment.document.file? %>
    <%= link_to "My document", comment.document.url, target: "_blank" %>  
      <% else %>
        <% end %>
<% if comment.video? %>Video
<%= video_tag comment.video.url(:medium), controls: true, style: "max-width: 100%;" %>
 <% else %>

 <% end %>
		
		</div>

		<div class="btn-group pull-right">
			   
				<%= link_to 'Destroy', comment, id: "delete_comment", method: :delete, remote: true, class: "btn" %>
				
			
			
			 <p class="btn-group pull-right">
			 <%= pluralize comment.reputation_for(:votes).to_i, "vote" %>
			
    <%= link_to "up", vote_comment_path(comment, type: "up"), method: "post", class: "btn" %>
   <%= link_to "down", vote_comment_path(comment, type: "down"), method: "post", class: "btn" %>
</p>
		</div>
	</div>
<% end %>
</div>