<div class="formcom">
<%= form_for([@post, @post.comments.build], remote: true) do |f| %>
<%= token_tag nil %>
	
	<br>
	<%= f.label(t("comments.body"), style: "color: black; font-size: 20px;") %><br>
	<%= f.text_area :body, placeholder: 'Type your comment here!', class: "materialize-textarea", style: "width: 40%;" %><br>
	<br>
	 <div class="form-group">
        <%= f.label :image, style: "color: black;", class: 'col-sm-2 control-label'  %>
        <div class="col-sm-6">
            <%= f.file_field :image, class: "btn" %>
            Document
            <%= f.file_field :document, class: "btn" %>
        </div>
    </div>
  <div> <%= f.label :video, style: "color: black;" %> </div>
    <%= f.file_field :video, class: "btn" %>
	<%= f.submit(t("comments.create_comment"), class: "btn") %>
<% end %>
</div>