<div id="post_<%=@post.id%>">
<div class="thecard", style="width: 93%; background-color: #99d6ff">
<p id="notice"><%= notice %></p>
<h2 id="title">
	<%= @post.title %>
</h2>

<% @post.tags.any? %>
    <div class="tags">
     <% @post.tags.each do |tag| %>
     
        <%= link_to tag.name, tag_path(tag.name), class: "tag"%>
      
<% end %>
</div>
<div class="views">
<%= "#{@post.impressionist_count} views" %>
</div>

<p class="date">
<%= t "posts.submited" %> <%= time_ago_in_words(@post.created_at) %> <%= t "posts.ago"%> 
  by<% if @post.user.name? %>
<%= @post.user.name %>
<% else %>
 by Incognito
 <% end %>
<p>
<%= link_to  new_message_path(:user => @post.user.id), {:style=>'color:white;', class: "btn"} do %>Send message to the author of task<i class="material-icons right">send</i><% end %>
</p>
  <% if @post.user == current_user %>
<%= link_to edit_post_path(@post),  {id: "edit", :remote=> true, style: "color:white", class: "btn" } do  %> Edit <% end %>
 <%= link_to post_path(@post), id: "delete", :style=>'color:white;', method: :delete, remote: true, class: "btn" do %>Delete<i class="material-icons right">delete</i> <% end %>
  </p>
 <% end %>


 <p id="body">
 <%= raw @post.body %>
 </p>

<% if @post.link?  %>
<iframe width="700" height="430" src="http://www.youtube.com/embed/<%=@post.uid %>" allowfullscreen=""></iframe>
<% else %>

<% end %>

<ul id="todo_items" data-update-url="/posts/<%=@post.id%>/todo_items/sort">

<%=  render @post.todo_items %>
<script>
  $('#todo_items').html("<%=j render @post.todo_items %>");
  

</script>
  
</ul>


    <div id="notify"></div>
    <%= render "todo_items/form" %>



 <% if @post.image.file? %>
  <%=link_to image_tag(@post.image.url(:small)), @post.image.url(:original), :popup=>['original_image', 'height=700,width=900'] %>
<% else %>
  
<% end %>


<% if @post.video? %>
<%= video_tag @post.video.url(:medium), controls: true, style: "max-width: 100%;" %>
 <% else %>

 <% end %>

<ul id="menu">
  
   <li id="like_post_<%=post.id%>", style="padding-top: 2%;">

       <%= link_to like_post_path(@post), method: :put, remote: true, class: 'btn' do %> 
     <o> Like </o>
     <i class="small material-icons">thumb_up</i> <o id="liker_<%=post.id%>"> <%= @post.get_upvotes.size %> </o>
 <% end %>
 </li>
        
   
   <li id="dislike_post_<%=post.id%>", style="padding-top: 2%;">   
      <%= link_to dislike_post_path(@post), method: :put, remote: true, class: 'btn' do %> 
     <o> Dislike </o>
     <i class="small material-icons">thumb_down</i> <o id="disliker_<%=post.id%>"> <%= @post.get_downvotes.size %> </o>
 <% end %>
 </li>
</ul>
</div>
<h2 style="padding-left: 3%;"><%= @post.comments.count %> <%= t "posts.comments"%></h2>
 <div id="comments", style="padding: 3em;">
<%=  render @post.comments %>
  <script>
  $('#comments').html("<%= j render @post.comments %>");
  $(document).ready(main); 
</script>
   
   <h3><%= t "posts.add_comment"%> </h3>
</div>
<div id="comments_notify"></div>
<div style="padding: 3em;">
 <%= render "comments/form" %>

</div>
</div>