<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<meta name="google-site-verification" content="3li0DutDNLzYNQTjR5_Fym6cLjez59T8A15UUSo_TSM" />
<meta name='yandex-verification' content='72297eb1250c1dc3' />
  <title>Bloglab</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<script>
$.ajaxSetup({
  headers: {
    'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
  }
});
</script>
 <script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
  <%= csrf_meta_tags %>

<script src="https://www.google.com/jsapi"></script>
  <script src="https://www.youtube.com/iframe_api"></script>
</head>
<body>

       
 <% if user_signed_in? %>
 <div class="navbar-fixed">
 <nav>
    <div class="nav-wrapper">
     <%= link_to "ToDo:", root_path, class: "brand-logo", style: "padding-left: 4%;"%>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
    
      <li><%= link_to(t("layouts.log_out"), destroy_user_session_path, method: :delete) %></li>
      <li><%= link_to 'Account', edit_user_registration_path, id: "account" %></li>
    
        <li><%= link_to 'My messages', conversations_path %></li>
        <li><%= link_to 'Tags', tagpages_path %></li>
        <li><%= link_to 'Favorites', likehistory_path %></li>
      </ul>
    </div>
  </nav>
 </div>
      <div id="wrapper" class="toggled">

  
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    
                  
                    
                  <ul>
		 <li class="category", style="color: white;"><%= t "layouts.title"  %></li>
		 <li><%= link_to(t('layouts.blog'), root_path)  %></li>
		
		 <li><%= link_to(t('layouts.registration'), new_user_registration_path) %></li>

	 </ul>

	 <ul>
		 <li class="category", style="color: white;"><%= t "layouts.languages" %></li>
		 <li><%= link_to_unless_current "English", locale: "en" %></li>
		 <li><%= link_to_unless_current "日本語", locale: "ja" %></li>
		 <li><%= link_to_unless_current "Українська", locale: "ua" %></li>
	 </ul>



	 	 <ul>
	 	<%= form_tag search_posts_path, method: :get, class: "navbar-form navbar-right", role: "search" do %>
        
          <%= text_field_tag :search, params[:search], class: "form-control", style: "color: white;" %>
          <p style="margin-left: 11%">
          <%= submit_tag "Search todo", name: nil, class: "btn btn-default" %>
        </p>
      <% end %>
	 </ul>

	  <ul>
	 	<%= form_tag search_users_path, method: :get, class: "navbar-form navbar-right", role: "search" do %>
        
          <%= text_field_tag :search, params[:search], class: "form-control", style: "color: white;" %>
          <p style="margin-left: 11%">
         <%= submit_tag "Search user", name: nil, class: "btn btn-default" %> 
        </p>
      <% end %>
	 </ul>
        </div>

        
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div style="position: fixed">
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Menu</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        


    </div>


    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

 <% else %>
<div class="navbar-fixed">
 <nav>
    <div class="nav-wrapper">
      <%= link_to "ToDo:", root_path, class: "brand-logo", style: "padding-left: 4%;"%>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
       
       <li><%= link_to(t("layouts.log_in"), new_user_session_path, class: "btn waves-effect waves-light") %></li> 

  <li><%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), class: "btn waves-effect waves-light" %>
  <li><%= link_to "Sign in with Vkontakte", user_omniauth_authorize_path(:vkontakte), class: "btn waves-effect waves-light" %>

</li>

      </ul>
    </div>
  </nav>
 </div>
      <div id="wrapper" class="toggled">

      
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    
                  
                    
                  <ul>
     <li class="category", style="color: white;"><%= t "layouts.title"  %></li>
     <li><%= link_to(t('layouts.blog'), root_path)  %></li>
     <li><%= link_to(t('layouts.registration'), new_user_registration_path) %></li>

   </ul>

   <ul>
     <li class="category", style="color: white;"><%= t "layouts.languages" %></li>
     <li><%= link_to_unless_current "English", locale: "en" %></li>
     <li><%= link_to_unless_current "日本語", locale: "ja" %></li>
     <li><%= link_to_unless_current "Українська", locale: "ua" %></li>
   </ul>



     <ul>
    <%= form_tag search_posts_path, method: :get, class: "navbar-form navbar-right", role: "search" do %>
        
          <%= text_field_tag :search, params[:search], class: "form-control", style: "color: white;" %>
          <p style="margin-left: 11%">
          <%= submit_tag "Search todo", name: nil, class: "btn btn-default" %>
        </p>
      <% end %>
   </ul>

    <ul>
    <%= form_tag search_users_path, method: :get, class: "navbar-form navbar-right", role: "search" do %>
        
          <%= text_field_tag :search, params[:search], class: "form-control", style: "color: white;" %>
          <p style="margin-left: 11%">
         <%= submit_tag "Search user", name: nil, class: "btn btn-default" %> 
        </p>
      <% end %>
   </ul>
        </div>

        
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div style="position: fixed">
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Menu</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        


    </div>


    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>



  <% end %>


 

	
	 
	 </div>
 
	 <% flash.each do |name, msg|%>
		 <%= content_tag(:div, msg, class: "alert") %>
	 <% end %> 
 <%= yield %>


 

 <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Do what you have to do!</h5>
                <p class="grey-text text-lighten-4">Do or Die</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Contact links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="http://vk.com/id90664978">Developer</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://twitter.com/StasSidorenko2">Martyr</a></li>
                  
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2016 Todo app for RubyGarage. All rights reserved. 
            <a class="grey-text text-lighten-4 right">Code, please</a>
            </div>
          </div>
        </footer>

</body>
</html>
